.logoBox {
  /* Center vertically */
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 14px;
}

.logoCircle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #f8fafc;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.logoText {
  margin-bottom: 5px;
  color: #b9b9b9;
  font-size: larger;
  font-weight: 600;
}

.cameraiconBox {
    margin-top: -22px;
    margin-left: 58px;
  background-color: red;
  width: 18px;
  height: 19px;
  border-radius: 50%;
}

.cameraIcon {
  margin-left: 1.4px;
  padding-top: 1px;
}
